body.darkmode{
    background-color: #000000dd;
    color: white;
}

a.darkmode{
    color: white;
}

.emergente.darkmode{
    background-color: #222d;
    border: 3px solid #fff;
}

.emergente.darkmode > .product-container input{
    background-color: #000;
    border: 2px solid #fff;
    border-top: 0px;
    color: #fff;
}

.emergente.darkmode > .product-container input:hover{
    background-color: #aaaaaa11;
}

.emergente.darkmode > .product-container > .product-image{
    background-color: #ffffff33;
    border-radius: 50%;
}

.emergente.darkmode > .product-container > .product-image:hover{
    background-color: #ffffffa9;
    border-radius: 51%;
}

.encabezado.darkmode{
    background-color: #000;
    box-shadow: 0 0 15px 0 #ffffffaa;
    border-bottom: 3px solid white;
}

.encabezado.darkmode nav ul li{
    border-left: 1px solid white;
}

.encabezado.darkmode nav ul li:hover{
    background-color: #ffffff33;
}

.product-container.darkmode{
    border: 3px solid #fff;
    box-shadow: inset 1px -2px 5px #ffffffa9;
}

.product-container.darkmode:hover{
    box-shadow: 0 4px 8px #ffffff33;
    box-shadow: inset 1px -2px 8px #ffffffd9;
}

.der a.darkmode{
    border: 2px solid #000000;
    color: #000;
}

@media (max-width: 840px){
    
.menu.darkmode{
    background-color: #000;
    border: 2px solid #fff;
}

.menu.darkmode ul li{
    border: 2px solid white;
}

.menu.darkmode ul li:hover{
    background-color: #ffffff33;
}

.toggle-menu-btn.darkmode{
    background-color: #000;
    color: white;
    box-shadow: inset 1px -2px 3px #ffffffd9;
    border: 2px solid white;
}

.toggle-menu-btn.darkmode:hover{
    box-shadow: 0 2px 8px #ffffffa9, inset 2px -2px 5px #ffffffaa; /* Efecto de sombra */
}

}
