*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa; /* Color de fondo con transparencia */
    backdrop-filter: blur(5px); /* Aplicar efecto de desenfoque */
    z-index: 100; /* Asegurar que esté por encima de todo el contenido */
}

.emergente{
    position: absolute;
    width: 50vw;
    height: 50vh;
    max-width: 25vh;
    max-height: 25vh;
    min-width: 50vh;
    min-height: 50vh;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.emergente{
    background-color: #f9fbe0;
    margin: 2% auto;
    border: 3px solid black;
    border-radius: 20px;
}

.emergente .product-container{
    width: 80%;
    margin: 25% auto;
}

.emergente > .product-container > .product-image{
    cursor: pointer;
    max-width: 80px;
    margin: 3%;
    margin-right: 8%;
}

.emergente > .product-container > .product-image:hover{
    transform: scale(1.2);
    background-color: #c4f1f6;
    border-radius: 50%;
}

.emergente > .product-container input{
    padding: 5px 5px;
    margin: 5px auto;
    font-weight: bold;
    border-top: 0px;
    border-radius: 20px;
    letter-spacing: 1px;
}

.emergente > .product-container input:hover{
    background-color: #f3f3f3ff;
}

.crear{
    background-color: transparent;
    border: 0px solid transparent;
    margin: 6px;
    float: right;
    margin-right: 45%;
}

.exit.delete.add{
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin: 5%;
}

body{
    background-color: #f9fbe0;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    width: 150px;
    float: left;
    margin: auto;
    margin: 10px 5px 10px 20px;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

.relative{
    position: relative;
}

.encabezado{
    background-color: wheat;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 25px 0 wheat;
    height: 80px;
    border-bottom: 3px solid black;
    z-index: 900;
}

.contenido{
    width: 85%;
    margin: auto;
    margin-top: 80px;
}

.encabezado nav{
    float: right;
}

.encabezado nav ul{
    text-shadow: 2px 4px 6px #dcddff;;
    list-style: none;
}

.encabezado nav ul li{
    display: inline-block;
    color: #000;
    padding: 26px;
    border-left: #000 1px solid;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.encabezado a{
    padding: 7% 7px;
}

.encabezado li:hover{
    color: #193f41;
    background-color: aquamarine;
    transform: scale(1.1); /* Expansión al hacer hover */
    box-shadow: 0 4px 8px #00000033; /* Efecto de sombra */

    border-radius: 10px;
}

.izq{
    float: left;
    height: 100vh;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 3%;
}

h2{
    font-size: 20px;
    margin: 5px;
}

.add{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: skyblue;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 1% 0;
    margin-top: 5px;
    box-shadow: inset 1px -2px 3px #00000090;
}

.add:hover {
    transform: scale(1.1); /* Expansión al hacer hover */
    box-shadow: 0 4px 8px #00000033, inset 1px -2px 5px #000000a5; /* Efecto de sombra */
}

.delete{
    background-color: #e22;
    float: initial;
    margin-left: 5px;
}

.delete:hover{
    background-color: #e55;
}

.product-container{
    margin: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: inset 1px -2px 5px #000000a9;
    overflow: hidden;
}

.product-container:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px #00000033;
    box-shadow: inset 1px -2px 8px #000000d9;
}

.product-image {
    flex: 1;
    max-width: 100px;
    margin-right: 20px;
}

.product-details {
    flex: 2;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    color: #007bff;
}

.cata{
    width: 30%;
}

.bl{
    display: flex;
    width: 100%;
    height: 30%;
    font-size: 20px;
}

.bl .product-image{
    flex: 1;
    max-width: 140px;
    margin-right: 20px;
}

.cata .product-image{
    max-width: 100px;
    margin: 10px 25px;
}

.add img{
    width: 2.2vw;
}

.der a{
    display: inline-block;
    padding: 3%;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.toggle-menu-btn{
    display: none;
}

.productos.izq{
    display: inline-block;
    text-align: center;
}

.productos.izq .product-container{
    width: 42%;
    height: 25%;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: middle;
}

.productos.izq .product-container .product-details{
    float: left;
    text-align: left;
}

.productos.izq > .product-container > .product-image{
    border-radius: 10px;
}

.new > h3{
    font-size: 26px;
    margin: 5%;
    text-decoration: overline;
    font-style: oblique;
    letter-spacing: 3px;
}

.new .add{
    margin: 5%;
    padding: 10px 20px;
}

.new .add > img{
    width: 30px;
}
