@media (max-width: 1000px) {
    .cata.product-container {
        width: 100%; /* Ocupar todo el ancho disponible */
    }

    .cata.product-container {
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: flex-start; /* Alinear elementos a la izquierda */
        height: 150%;
        padding: 5%;
    }

    .bl .product-image {
        max-width: 100%; /* Ajustar imagen al ancho del contenedor */
        margin: 0 auto 10px; /* Alinear imagen al centro y agregar margen inferior */
    }

    .bl .product-details {
        text-align: center; /* Centrar texto */
    }

    .add img {
        width: 20px; /* Tamaño de la imagen de flecha */
    }
}

@media (max-width: 840px) {

    .contenido {
        width: 90%; /* Ocupar todo el ancho disponible */
    }
    
    .encabezado{
        height: 70px;
    }
    
    .encabezado nav {
        float: none; /* Quitar flotado */
        text-align: center; /* Centrar el texto */
    }
    
    .encabezado nav ul li {
        display: block; /* Cambiar a disposición de bloque */
        border: none; /* Quitar borde izquierdo */
        margin-bottom: 2px; /* Agregar espacio entre elementos */
        border: 2px solid black;
    }
    
    .menu {
        top: 70px; /* Ajusta según la altura del logo y el botón de menú */
    }
        /* Estilos para el logo */
    .logo-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000; /* Asegura que esté por encima del resto del contenido */
        padding: 10px 20px;
    }
    
    .logo {
        max-width: 130px; /* Ajusta el tamaño según sea necesario */
        height: auto;
    }

    .cata.product-container{
        max-height: 145%;
        min-height: 120%;
    }
    
    /* Estilos para el botón de menú */
    .toggle-menu-btn {
        position: absolute;
        top: 4px;
        left: 7px;
        background-color: wheat;
        font-size: 20px;
        padding: 16px 30px;
        cursor: pointer;
        box-sizing: border-box;
    
        display: inline-block;
        border: 3px solid black;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: inset 1px -2px 3px #00000090;
    
        z-index: 9999; /* Asegura que el botón esté por encima del menú */
    
        font-weight: bold;
    }
    
    .toggle-menu-btn:hover{
        transform: scale(1.1); /* Expansión al hacer hover */
        box-shadow: 0 4px 8px #00000033, inset 1px -2px 5px #000000a5; /* Efecto de sombra */
    }
    
    /* Estilos para el menú */
    .menu{
        position: fixed;
        top: 73.14px; /* Ajusta según la altura del logo */
        left: 0;
        width: 45%;
        border: 2px solid #000;
        background-color: #f9fbe0;
        z-index: 999; /* Asegura que esté por encima del resto del contenido */
    
        left: -65%; /* Empieza fuera de la pantalla */
        height: 100%;
        transition: left 0.8s ease; /* Transición suave de la propiedad left */
        overflow: hidden;
        padding: 2px;
    }
    
    .menu ul {
        list-style: none;
        padding: 0;
    }
    
    .menu ul li {
        padding: 10px 15px;
    }
    
    .menu a{
        padding: 7% 15%;
    }
    
    .menu ul li:hover{
        border-radius: 10px;
        transform: scale(1.0);
    }
    
    .menu-open{
        left: 0px;
        transition-delay: 0.1s;
    }
}

@media (max-width: 610px){
    .izq .bl{
        display: inline-block;
        text-align: center;
    }

    .izq .bl .cata.product-container{
        display: inline-flex;
        width: 80%;
        max-height: 90%;
        min-height: 80%;
        font-size: 18px;
        flex-direction: row;
        box-sizing: border-box;
        align-items: center;
    }

    .cata .product-image{
        max-width: 100px;
    }

    .productos.izq .product-container{
        width: 80%;
    }
}